

// VARIABLES - still need to set these up and actually use them
$color-primary--light: #fff;
$color-primary--dark: #000;
$color-secondary--light: #a9a9aa;
$color-secondary--dark: #656568;




*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // percentage to deal with browser zoom - 1rem == 10px
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: linear-gradient(to right bottom, #fff, rgb(199, 199, 199));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    font-size: 2rem;
}

.container {
    background-color: white;

    display: grid;
    grid-template-rows: 60vh 20vh minmax(max-content, 80vh) max-content 50vh 40vh 20vh;
    
    
    grid-template-columns:  [sidebar-start] 8rem
                            [sidebar-end full-start] 10rem 
                            [center-start] repeat(8, 
                            [col-start] minmax(min-content, 15rem) [col-end]) 
                            [center-end] minmax(5rem, 1fr) [full-end];
}