

// VARIABLES
$color-primary--light: #fff;
$color-primary--dark: #000;
$color-secondary--light: #a9a9aa;
$color-secondary--dark: #656568;




*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // percentage to deal with browser zoom - 1rem == 10px
}

body {
    background-image: linear-gradient(to right bottom, #fff, rgb(199, 199, 199));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    font-size: 2rem;
}

.container {
    background-color: white;
    // margin: 5rem auto;
    // max-width: 120rem;
    // box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);

    display: grid;
    grid-template-rows: 60vh 20vh 80vh 100vh repeat(3, 50vh);
    
    
    grid-template-columns:  [sidebar-start] 8rem 
                            [sidebar-end full-start] minmax(8rem, 1fr) 
                            [center-start] repeat(8, 
                            [col-start] minmax(min-content, 15rem) [col-end]) 
                            [center-end] minmax(5rem, 1fr) [full-end];
}