.experience {
    background-image: linear-gradient(rgba($color-secondary--light, .6), rgba($color-secondary--dark, .6));
    background-size: cover;
    background-repeat: no-repeat;

    grid-column: sidebar-start / full-end;
    grid-row: 4;

    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);

    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);

    &__title {
        // grid-row: 1;
        // grid-column: 5;
    }
}