


.footer {
    background-color: #021338; //rgba($color-test-dark, .9);
    grid-column: sidebar-start / full-end;
    grid-row: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    

    &__btn__top {
        border: 1px solid white;
        align-self: center;
        background-color: rgba($color-primary--dark, .7);
        margin-bottom: 2.5rem;

        &--link {
            text-decoration: none;
            color: white;
            display: block;
            padding: 1rem;
        }
    }

    &__copyright {
        align-self: center;
        color: white;
    }
}

.contact__footer__image {
    grid-row: 6 / span 2;
    grid-column: 1 / -1;
    clip-path: polygon(50% 13.5%, 100% 0%, 100% 100%, 0 100%, 0 0%);
    background-image: url(../img/image1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}