.header {
    background-image: linear-gradient(rgba($color-secondary--light, .6), rgba($color-secondary--dark, .6)), url(../img/image1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    z-index: 1;


    grid-column: sidebar-start / full-end;
    grid-row: 1 / span 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    

    &__text {

        color: $color-primary--light;
        font-size: 5rem;
        text-align: center;
        transform: translateY(-22rem);
        letter-spacing: 1.6rem;
        text-transform: uppercase;

        border: 2px solid white;
        padding: 3rem;
        background-color: rgba($color-secondary--dark, .7);

        &--name {
        
        }
    
        &--title {
    
        }

    }

}