$color-test-light: #ffffff;
$color-test-dark: rgb(13, 0, 129);

.experience {
  padding: 25rem 10rem;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-test-light, 1),
    rgba($color-test-dark, 1)
  );
  background-size: cover;
  background-repeat: no-repeat;

  grid-column: sidebar-start / full-end;
  grid-row: 4;

  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);

  &__title {
    margin-bottom: 5rem;
    margin-left: 6rem;

    @media only screen and (max-width: $bp-small) {
      margin-top: 5rem;
    }

    @media only screen and (max-width: $bp-xxsmall) {
      margin-top: 15rem;
    }
  }

  &__grid {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fill, 15rem);
    justify-content: center;
    align-items: center;

    &__card {
      background-color: white;
      transition: all 0.1s;
      box-shadow: $box-shadow;
      height: 20rem;
      font-size: 1.5rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        transform: scale(1.2);
      }

      &--icon {
        height: 10rem;
        width: 10rem;
      }

      &--label {
        display: block;
        padding: 0.5rem;
        color: white;
        border: 1px solid black;
        background-color: #23236b;
        margin-top: 3rem;
      }
    }
  }
}
